* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

div {
  width: 100%;
  margin: 20px;
}

div ul {
  width: 100%;
}

div li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

div li button {
  width: 30%;
  height: 100%;
  padding: 10px 15px;
  font-size: 14px;
  background: #ca4949;
}

.container {
  max-width: 500px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
